header {
  position: fixed;
  top:0;
  width: 100%;
  background-color: white;
  z-index: 100;
}
.header-inner {
  padding: 20px 10px 20px 12px;
  background-color: white;
  @extend %clearfix;
}
.logo {
  @include size(60px);
  float: left;
}
h1 {
  padding-top: 15px;
  text-align: center;
  font-size: scut-em(25px);
}
.hamb {
  float: right;
  padding-top: 10px;
  button {
    background-color: white;
    border: 1px solid $btn-color;
    &:hover {
      background-color: $btn-hover-color;
    }
    &:focus {
      outline: 0; // Remove that stupid blue outline
    }
  }
}
nav {
  width: 100%;
  position: absolute;
  height: 40px;
  bottom: 0;
  z-index: -1;

  background-color: white;
  // opacity: 0;
  transition: all 0.3s;
  &.is-shown {
    // opacity: 1;
    bottom:-40px;

  }
  clear:both;
  text-align: center;
  li {
    display: inline;
    a {
      color: black;
      padding: 0 9%;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
        color: black;
      }
    }
  }
}