.fb-wrap {
  margin-top: 30px;
}
.fb-like {
  filter: hue-rotate(120deg) saturate(4) brightness(0.8);
}
.hero {
  background-image: url($hero-image);
  // background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // padding-bottom: 4em;
  padding: 15% 0;
  .hero-inner {
    @include clearfix;
    padding: 1em;
    // padding-top: scut-em(80px);
    margin: auto;
    text-align: center;
    color: $hero-color;
    text-shadow: 0 5px 5px rgba(0,0,0,.8);

    button {
      @include button(flat, $brand-color);
      font-size: $base-font-size;
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 600;
      outline: none;
      padding: 15px 20px;
      border: 1px solid darken($brand-color, 5%);
      transition: transform 200ms ease;
      &:hover {
        transform: scale(1.1);
      }
      a {
        color: white;
        font-size: scut-em(20px);
        text-transform: uppercase;
        letter-spacing: .2em;
        font-weight: 600;
      }
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: 3em;
      }
    }
  }
}

.intro-text {
  $intro-text-width: 60%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 4em;
  text-align: center;

  h2 {
    font-family: $serif;
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: .3em;
  }

  h4 {
    color: lighten($base-font-color, 20);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em;
  }

  p {
    margin: auto;
    a {
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase;
      span {
        font-size: 1.3em;
        line-height: 0;
      }
    }
  }
}
.vwrapper {
  position: relative;
  width: 100%;
  @include breakpoint(500px) {
    width: 80%;
  }
  margin: 0 auto 4em;
  @include scut-ratio-box(16/9);
  iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.gallery {
  $images: "back", "face", "handlebar", "crank", "closewheel", "iso", "side", "woman", "back2", "rear", "sidewheel", "chain";
  %gallery-item {
    // height: 600px;
    // width: 400px;
    width: 33.333%;
    float: left;
    @include scut-ratio-box(2/3);
    background-size: cover;
    background-position: center center;
  }
  @each $image in $images {
    .#{$image} {
      @extend %gallery-item;
      background-image: url('#{$image-path}/#{$image}.png');
    }
  }
}
