$para-bp: 700px;
$startgrid-bp: 900px;
$small: 0px 800px;
.team {
  > p {
    margin-bottom: 25px;
    @include breakpoint($para-bp) {
      padding: 0 10%;
    }
  }
  padding: 0 20px 30px;
}
h3 {
  font-size: scut-em(22px);
  text-align: center;
  padding-bottom: 15px;
}
.person-container {
  @extend %clearfix;
  position: relative;
  @include breakpoint($startgrid-bp) {
    font-size: 0;
  }
}
.fl-heading {
  width: 50%;
  float: left;
  padding: 18% 5%;
  h4 {
    text-align: center;
  }
  @include breakpoint($para-bp) {
    display: none;
  }
}
.about {
  float: left;
  @include breakpoint($para-bp) {
    width: 50%;
    padding: 10%;
  }
  h4 {
    font-size: scut-em(16px);
    display: none;
    @include breakpoint($para-bp) {
      display: block;
    }
  }
  p {
    font-size: scut-em(14px);
    text-align: left;
  }
}
@include breakpoint(0px $startgrid-bp) {
  .person-container img {
    width: 50%;
    padding: 20px 0;
  }
  .person-container:nth-child(odd) img {
    float: left;
  }
  .person-container:nth-child(even) img {
    float: right;
  }
}
@include add-grid(3);
@include add-grid(4 at 1100px);
@include add-grid(6 at 1400px);
@include add-gutter(1/3 at $startgrid-bp);
// @include sgs-change('output', 'float');

@include add-gutter-style('split');
@include breakpoint($startgrid-bp) {
    img {
      width: 100%;
    }
    .about {
      transition: opacity .5s;
      color: white;
      width: 100%;
      height: 100%;
      @include scut-absolute;
      opacity: 0;
      .person-container:hover & {
        background-color: rgba(0, 0, 0, .5);
        padding: 5px;
        font-size: 14px;
        opacity:1;
      }
    }
    .person-container {
      @include float-span(1);
      margin-bottom: 40px;
      @include breakpoint(1100px) {
        @include float-span(1);
      }
      @include breakpoint(1400px) {
        @include float-span(1);
      }
    }
  }




















