// Global
$image-path: "/images";
$brand-color: #BC0000;
// Header
$btn-color: rgba(0, 0, 0, .1);
$btn-hover-color: rgba(0, 0, 0, .05);
// Index Page

$hero-color: white;
$hero-image: '#{$image-path}/rear.png';