header
  div.header-inner
    img.logo(src="/images/wheel.png", data-anchor-target=".wrapper", data-top="transform:rotate(0deg)", data--9000-top="transform:rotate(9080deg)")
    .hamb
      button
        include hamb.jade
    h1 Copenhagen Wheel
  nav
    ul
      li: a(href="index.html") Home
      li: a(href="team.html") Team
      li: a(href="contact.html") Contact