extends ./layouts/layout.jade
block title
  title Contact
block content
  .contact
    p If you'd like to get in touch with us, or make a preorder, please fillout the form below and we'll get back to you as soon as possible.
    form(name="login", action="/login", method="post")
      label Name
      input(type="text", name="user")
      label Email
      input(type="password", name="pass")
      textarea
      input(type="submit", value="Send")