extends ./layouts/layout.jade
block title
	title Home
block content
	div
		h4 This is heading 1
		p All this fucking text can lick it!
	div
		h4 This is where i text automatic jade building
		p Recusandae dicta vero officia eos suscipit, nisi consequuntur numquam mollitia id tempora repudiandae ea, deserunt molestias earum quis accusamus explicabo assumenda alias praesentium neque! Ratione totam vel sequi sunt. Dolorum.
	div
		h4 This is heading 3
		p A quidem provident eius aspernatur quae soluta dolore laudantium est perferendis adipisci id placeat molestias, illo animi velit sequi doloribus impedit, officiis asperiores aliquid quas et nesciunt, debitis totam. Facere.
	div
		h4 This is heading 4
		p Deserunt perferendis harum non fugit. Accusamus quae, amet repellendus in architecto qui ipsam quo nam, ea placeat provident minus facilis optio adipisci quos asperiores sed, nostrum consequatur sapiente similique quia.
	div
		h4 This is heading 5
		p Reprehenderit cum tempore sit at corrupti unde necessitatibus natus ipsa ea neque placeat iure magnam ab consequuntur minus molestias deserunt, ipsam officiis aliquid iste fugit quod ducimus quibusdam quis? Quas?