extends ./layouts/layout.jade
block title
  title Home
block content
  .hero
    .hero-inner
      .hero-copy
        h1 The Future of Commuting
      button: a Learn More About it
  div.intro-text
    h2 Welcome to the future.
    h4
      | It turns your ordinary bicycle into a smart electric hybrid by simply replacing your back wheel.
    p
      | The Copenhagen Wheel transforms your bicycle into a smart electric hybrid, quickly and easily. The Wheel contains a motor, batteries, multiple sensors, wireless connectivity, and an embedded control system. The Wheel learns how you pedal and integrates seamlessly with your motion, multiplying your pedal power 3x—10x. It makes hills feel flat and distances shrink, so you can cycle just about anywhere.
  .gallery
    - var images = ["back","face","handlebar","crank","closewheel","iso","side","woman","back2","rear","sidewheel","chain"];
    each image in images
      div(class=image)





