extends ./layouts/layout.jade
block title
  title Home
block content
  .hero
    .hero-inner
      .hero-copy
        h1 The Future of Commuting
      button: a Pre-Order
      .fb-wrap
        div(class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")
  div.intro-text
    h2 The bicycle revolution is coming to your streets
    h4
      | With an exclusive license from MIT, our team at Superpedestrian is bringing the Copenhagen Wheel to you.
    p
      | The Copenhagen Wheel transforms your bicycle into a smart electric hybrid, quickly and easily. The Wheel contains a motor, batteries, multiple sensors, wireless connectivity, and an embedded control system. The Wheel learns how you pedal and integrates seamlessly with your motion, multiplying your pedal power 3x—10x. It makes hills feel flat and distances shrink, so you can cycle just about anywhere.
  .vwrapper
    iframe(width="560" height="315" src="//www.youtube.com/embed/S10GMfG2NMY?autoplay=0&showinfo=0&controls=0" frameborder="0" autoplay="0" allowfullscreen)
  .gallery
    each image in images
      div(class=image)


