extends ./layouts/layout.jade
block title
  title Team
block content
  p This is going to be the team page.
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")
  img(src="http://placecage.com/200/200", alt="")