extends ./layouts/layout.jade
block title
  title Team
block content
  .team
    h3 SUPERPEDESTRIAN INC
    p Superpedestrian brings together a team of designers and robotics engineers with one vision: transforming urban mobility. Our first idea? Pedal power. With an exclusive license to MIT’s Copenhagen Wheel, we bring the bike revolution to your streets. The Copenhagen Wheel is entering mass production in 2014, with thousands of units already sold on pre-order. Superpedestrian operates out of Cambridge, Massachusetts. It was founded in late 2012 by co-inventor of the Copenhagen Wheel, and backed by tier-one venture capital investors.
    - var i = 0;
    .team-gallery
      each person in team
        - i++
        .person-container
          img(src="images/team/" + i + ".jpg", alt="")
          .fl-heading
            h4 #{person.name}
          .about
            h4 #{person.name}
            p #{person.about}